<div class="viwer-area">
    <div class="container">
        <div class="viwer-title">
            <div class="viwer-title-spacer title">
                categories
            </div>
            <button mat-icon-button color="warn" (click)="onPrevClick($event);">
                <mat-icon aria-label="nav left">arrow_left</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onNextClick($event);">
                <mat-icon aria-label="nav right">arrow_right</mat-icon>
            </button>
        </div>
        <div class="viwer-body">
            <div class="content">
                <div class="cards">
                    <owl-carousel #owlProductCategory class="headphone-slider-active product-slider" [options]="carousel.category.options" [items]="images"
                        [carouselClasses]="['owl-theme']">
                        <div class="card" *ngFor="let category of categories">
                            <a routerLink="/pages/shop" routerLinkActive="active">
                                <div class="card-preview">
                                    <div class="box-card cag">
                                        <img src="assets/devita/img/cag/{{category.icon}}.png">
                                        <div class="title p-2 line-height-1.75">
                                            {{category.title}}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </owl-carousel>
                </div>
            </div>
        </div>
    </div>
</div>