@import "src/@box/scss/box";

header {
    .header-middle {
        background: white;
    }

    .header-contact-search-wrapper {
        width: 100%;

        .header-search {
            width: 100%;
        }

        input {
            width: 100%;
        }
    }
}

p {
    margin: 0;
    width: 100%;

    .mat-form-field {
        width: 100%;
    }
}

.mat-hint {
    width: 100%;
}

// .search-hint>a{
//     margin: 0 5px;
// }

.header-with-search-wrapper {
    background-image: linear-gradient(-180deg, #ff5722, #ff531d);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    z-index: 300;
}

.header-with-search__search-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 840px;
    position: relative;
}

.header-with-search {
    display: flex;
    height: 8.5rem;
    justify-content: space-between;
    padding: 1.6rem 15px 1rem;

    @include media-breakpoint-down("xs") {
        height: 7.25rem;
    }
}

.header-with-search__logo-section {
    position: relative;
    top: -.3rem;
    padding-right: 4rem;
}

.box-drawer {
    position: relative;
    display: inline-block;
}

.cart-drawer {
    cursor: pointer;
    margin: 0 0 15px 5px;

    @include media-breakpoint-down("xs") {
        margin: 0 0 0 5px;
    }
}

.v-center {
    display: flex;
    align-items: center;
}

.cart-drawer .mat-icon {
    color: rgba(255, 255, 255, 0.9);
}
