header {
    .header-middle {
        background: white;
    }

    .header-contact-search-wrapper {
        width: 100%;

        .header-search {
            width: 100%;
        }

        input {
            width: 100%;
        }
    }    
}

p{
    margin: 0;
    width:100%;

    .mat-form-field{
        width: 100%;
    }
}

.mat-hint{
    width: 100%;
}
// .search-hint>a{
//     margin: 0 5px;
// }