header {
    .header-middle {
        background: white;
    }

    .header-contact-search-wrapper {
        width: 100%;

        .header-search {
            width: 100%;
        }

        input {
            width: 100%;
        }
    }
}
