<div class="container-wrapper header-with-search-wrapper">
    <div class="container header-with-search">
        <a class="header-with-search__logo-section" fxHide fxShow.gt-xs>
            <img src="assets/devita/img/logo/logo.png" alt="">
        </a>
        <div class="header-with-search__search-section">
            <div class="box-searchbar">
                <div class="box-searchbar__main">
                    <form class="box-searchbar-input">
                        <input class="box-searchbar-input__input" maxlength="128" placeholder="Search for products, brands and shops" autocomplete="off"
                            value="" (focus)="onFocus($event)" (focusout)="onFocusOut($event)">
                    </form>
                    <div class="box-popover" [class.active]="onfocus">
                        <div class="box-searchbar-hints">
                            <div class="box-searchbar-hints__header">
                                <span class="box-searchbar-hints__header__text">Search History</span>
                            </div>
                            <a href class="box-searchbar-hints__history-entry">
                                <div class="box-searchbar-hints__history-entry__text">
                                    <span>prom dress</span>
                                </div>
                            </a>
                            <a href class="box-searchbar-hints__history-entry">
                                <div class="box-searchbar-hints__history-entry__text">
                                    <span>men bag</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <button class="btn btn-solid-primary btn--s btn--inline">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <div class="hot-words" fxHide fxShow.gt-xs>
                <div class="hot-words__list">
                    <a href class="hot-words__item">
                        <span>car sticker</span>
                    </a>
                    <a href class="hot-words__item">
                        <span>school bag</span>
                    </a>
                    <a href class="hot-words__item">
                        <span>men bag</span>
                    </a>
                    <a href class="hot-words__item">
                        <span>floral dress</span>
                    </a>
                    <a href class="hot-words__item">
                        <span>mini bag</span>
                    </a>
                    <a href class="hot-words__item">
                        <span>tempered glass</span>
                    </a>
                    <a href class="hot-words__item">
                        <span>winter cap</span>
                    </a>
                    <a href class="hot-words__item">
                        <span>portable fan</span>
                    </a>
                    <a href class="hot-words__item">
                        <span>baby doll</span>
                    </a>
                    <a href class="hot-words__item">
                        <span>girl dress</span>
                    </a>
                    <a href class="hot-words__item">
                        <span>wall sticker</span>
                    </a>
                    <a href class="hot-words__item">
                        <span>plus dress</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header-with-search__cart-wrapper" fxHide fxShow.gt-xs>
            <div class="shopee-drawer">
                <div class="cart-drawer-container">
                    <div class="cart-drawer flex v-center">
                        <button mat-icon-button>
                            <mat-icon>shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>