<div class="pb-20" id="product-grid" *ngIf="grid">  
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 mb-30" *ngFor="let x of numbers">
            <div class="devita-product-2 mrg-inherit">
                <div class="product-img">
                    <ngx-slick-carousel class="product-img-slider" #slickModal="slick-carousel" [config]="carousel.slick.options">
                        <div ngxSlickItem *ngFor="let slide of carousel.slick.slides">
                            <a routerLink="/pages/shop/1" routerLinkActive="active">
                                <img src="{{ slide.img }}" alt="">
                            </a>
                        </div>
                    </ngx-slick-carousel>
                    <span>-29%</span>
                </div>
                <div class="list-col">
                    <div class="gridview">
                        <div class="product-content text-center">
                            <span>Remote, Accessories</span>
                            <h4>
                                <a routerLink="/pages/shop/1" routerLinkActive="active">Phantom Remote Control Ver 2018</a>
                            </h4>
                            <div class="product-price-wrapper">
                                <span>$260.00</span>
                                <span class="product-price-old">$162.00 </span>
                            </div>
                        </div>
                        <div class="product-action-wrapper-2 text-center">
                            <div class="product-rating">
                                <i class="ion-android-star-outline theme-star"></i>
                                <i class="ion-android-star-outline theme-star"></i>
                                <i class="ion-android-star-outline theme-star"></i>
                                <i class="ion-android-star-outline theme-star"></i>
                                <i class="ion-android-star-outline"></i>
                            </div>
                            <p> Quam elit phasellus nibh sed eget, sed nunc in ultricies sodales sapien,
                                non velit scelerisque...</p>
                            <div class="product-action">
                                <a class="same-action" title="Wishlist" href="#">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                                <a class="action-cart" title="Add To Cart" href="#">
                                    Add to Cart
                                </a>
                                <a class="same-action compare-mrg" data-target="#exampleCompare" data-toggle="modal" title="Compare" href="#">
                                    <i class="fa fa-sliders fa-rotate-90"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

</div>

<div id="product-list" *ngIf="!grid">
    <div class="row">
        <div class="col-lg-12" *ngFor="let x of numbers">
            <div class="product-list-wrapper shop-border mb-40 pb-40">
                <div class="product-img">
                    <ngx-slick-carousel class="product-img-slider" #slickModal="slick-carousel" [config]="carousel.slick.options">
                        <div ngxSlickItem *ngFor="let slide of carousel.slick.slides">
                            <a routerLink="/pages/shop/1" routerLinkActive="active">
                                <img src="{{ slide.img }}" alt="">
                            </a>
                        </div>
                    </ngx-slick-carousel>
                </div>
                <div class="product-list-content">
                    <span>Watch, Accessories</span>
                    <h4><a href="#">Phantom Remote Control Ver 2018</a></h4>
                    <div class="product-rating">
                        <i class="ion-android-star-outline theme-star"></i>
                        <i class="ion-android-star-outline theme-star"></i>
                        <i class="ion-android-star-outline theme-star"></i>
                        <i class="ion-android-star-outline theme-star"></i>
                        <i class="ion-android-star-outline"></i>
                    </div>
                    <div class="product-price-wrapper">
                        <span>$260.00</span>
                        <span class="product-price-old">$162.00 </span>
                    </div>
                    <p>Mirum est notare quam littera gothica quam putamus parum claram, anteposuerit litterarum formas humanitatis per seacula.</p>
                    <div class="product-action">
                        <a class="action-cart" href="#" title="Add To Cart"> Add to Cart </a>
                        <a class="same-action" href="#" title="Wishlist">
                            <i class="fa fa-heart-o"></i>
                        </a>
                        <a class="same-action compare-mrg" href="#" title="Compare" data-toggle="modal" data-target="#exampleCompare">
                            <i class="fa fa-sliders fa-rotate-90"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

<div class="pagination-total-pages">
    <div class="pagination-style">
        <ul>
            <li>
                <a class="prev-next prev" href="#">
                    <i class="ion-ios-arrow-left"></i> Prev</a>
            </li>
            <li>
                <a class="active" href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">...</a>
            </li>
            <li>
                <a href="#">10</a>
            </li>
            <li>
                <a class="prev-next next" href="#">Next
                    <i class="ion-ios-arrow-right"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="total-pages">
        <p>Showing 1 - 20 of 30 results </p>
    </div>
</div>