@import "src/@box/scss/box";

:host {
    h4 {
        font-size: 0.9em;
        font-weight: 500 !important;
        text-transform: uppercase;
    }

    .page-layout {
        &.simple {
            &.left-sidebar {
                > .sidebar {
                    // width: 205px !important;
                    // min-width: 205px !important;
                    // max-width: 205px !important;
                    > .content{
                        >.shop-sidebar-wrapper{
                            >.shop-price-filter{
                                >.price_filter{
                                    >.horizontal-wrapper{
                                        >span{
                                            min-width: 40.66px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                > .center {
                    box-shadow: none;

                    > .header {
                        height: auto !important;
                        min-height: auto !important;                        
                    }

                    > .content {
                        padding: 4px;

                        @include media-breakpoint-down("xs") {
                            padding: 0;
                        }


                        > .horizontal-wrapper {
                            > .horizontal-spacer {
                                > h4 {
                                    >span{
                                        color: #ff5722;
                                    }
                                }
                            }
                        }                        
                    }
                }

            }
        }
    }
}
