<div class="shop-service-area black-bg pt-65">
    <div class="container">
        <div class="shop-service-wrapper black-bg-2">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="shop-service-content text-center">
                        <h4>Free Shipping</h4>
                        <p>Free shipping on all order</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="shop-service-content text-center">
                        <h4>Money Return</h4>
                        <p>30 days for free return</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="shop-service-content text-center border-none">
                        <h4>Online Support</h4>
                        <p>Support 24 hours a day</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>