
.owl-carouse img {
    width: 100%;
}

.banner2 {
    width: 100%;
}

.main-carousel {
    width: 100%;
}

.main-slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
}

.banner-thumb img {
    height: 100%;
}
