$devita-assets-path:        "assets/devita" !default;
$cart-view-button-bg: #ffffff !default;
$cart-view-button-radius: 3px !default;
$cart-view-button-border: solid 1px #9e9e9e !default;
$cart-view-button-text: #000000 !default;
